.container {
    height: calc(100vh - 100px);
    background: linear-gradient(46deg,#ed9106 0%,#ed9106 31.2%,#d1411e 30%,#d1411e 100%);
    overflow: hidden;
    position: relative;
  }
  
  .arrowContainer {
    position: absolute;
    width: 10%;
    height: 20%;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 2;
  }
  
  .wrapper {
    width: 300vw;
    height: 100%;
    display: flex;
    transition: all 1.5s ease-in-out ;
  }
  
  .imgContainer {
    width: 100vw;
    height: 100%;
    position: relative;
  }
  
  @media screen and (max-width: 480px) {
    .container{
      height: 40vh;
      background: linear-gradient(41deg,#ed9106 0%,#ed9106 31.2%,#d1411e 30%,#d1411e 100%);
    }
    .arrowContainer{
      width: 15%;
      margin-left: 0;
      margin-right: 0;
      bottom:35%;
    }
  }